<div class="transformations">
  <div class="transformations__inner">
    <form [formGroup]="moveGroup" (ngSubmit)="move(moveGroup)">
      <input type="number" placeholder="move X" formControlName="x" name="moveX">
      <input type="number" placeholder="move Y" formControlName="y" name="moveY">
      <button [disabled]="moveGroup.invalid">Move</button>
    </form>
    <form [formGroup]="rotationGroup" (ngSubmit)="rotate(rotationGroup)">
      <input type="number" placeholder="X" formControlName="x" name="moveX">
      <input type="number" placeholder="Y" formControlName="y" name="moveY">
      <input type="number" placeholder="Angle" formControlName="angle" name="moveY">
      <button [disabled]="rotationGroup.invalid">Rotate</button>
    </form>
  </div>
</div>
