<div class="transformations">
  <div class="transformations__inner">
    <form [formGroup]="moveGroup" (ngSubmit)="move(moveGroup)">
      <input type="number" placeholder="move X" formControlName="x" name="moveX">
      <input type="number" placeholder="move Y" formControlName="y" name="moveY">
      <button class="button" [disabled]="moveGroup.invalid">Move</button>
    </form>
    <form [formGroup]="rotationGroup" (ngSubmit)="rotate(rotationGroup)">
      <input type="number" placeholder="X" formControlName="x" name="moveX">
      <input type="number" placeholder="Y" formControlName="y" name="moveY">
      <input type="number" placeholder="Angle" formControlName="angle" name="moveY">
      <button class="button" [disabled]="rotationGroup.invalid">Rotate</button>
    </form>
    <form [formGroup]="affineGroup" (ngSubmit)="toAffine(affineGroup)">
      <input type="number" placeholder="r0 X" formControlName="r0x" name="r0x">
      <input type="number" placeholder="ro Y" formControlName="r0y" name="r0y">
      <input type="number" placeholder="r1 X" formControlName="r1x" name="r1x">
      <input type="number" placeholder="r1 Y" formControlName="r1y" name="r1y">
      <input type="number" placeholder="r2 X" formControlName="r2x" name="r2x">
      <input type="number" placeholder="r2 Y" formControlName="r2y" name="r2y">
      <button class="button" [disabled]="affineGroup.invalid">Affine transform</button>
    </form>
    <form [formGroup]="projectiveGroup" (ngSubmit)="toProjective(projectiveGroup)">
      <input type="number" placeholder="r0 X" formControlName="r0x" name="r0x">
      <input type="number" placeholder="ro Y" formControlName="r0y" name="r0y">
      <input type="number" placeholder="r1 X" formControlName="r1x" name="r1x">
      <input type="number" placeholder="r1 Y" formControlName="r1y" name="r1y">
      <input type="number" placeholder="r2 X" formControlName="r2x" name="r2x">
      <input type="number" placeholder="r2 Y" formControlName="r2y" name="r2y">
      <input type="number" placeholder="w0" formControlName="w0" name="w0">
      <input type="number" placeholder="wx" formControlName="wx" name="wx">
      <input type="number" placeholder="wy" formControlName="wy" name="wy">
      <button class="button" [disabled]="projectiveGroup.invalid">Projective transform</button>
    </form>
    <button mat-raised-button (click)="scale(zoomDelta)">Scale +</button>
    <button mat-raised-button (click)="scale(-zoomDelta)">Scale -</button>
    <button class="button" [class.button__active]="tools.split" (click)="tools.split = !tools.split">
      Split
    </button>
  </div>
</div>
