<div class="header">
  <div class="header__inner">
    <drawer-cursor-position></drawer-cursor-position>

    <div class="dropdown">
    <span class="dropdown-label">Help</span>
    <div class="dropdown-content" (click)="showHotKeys()">
      <p>Hotkeys List</p>
    </div>
  </div>

    <div class="dropdown">
      <span class="dropdown-label">Modes</span>
      <div class="dropdown-content">
        <p (click)="tools.splitMode.toggle()">
          Split Mode
          <span *ngIf="tools.splitMode.get()">✔</span>
        </p>
        <p (click)="tools.chainMode.toggle()">
          Chain Mode
          <span *ngIf="tools.chainMode.get()">✔</span>
        </p>
        <p (click)="tools.editMode.toggle()">
          Edit Mode
          <span *ngIf="tools.editMode.get()">✔</span>
        </p>
      </div>
    </div>

    <div class="dropdown">
      <span class="dropdown-label">Tool Panels</span>
      <div class="dropdown-content">
        <p (click)="tools.openedPanel = 'transformations'">
          Transformations
        </p>
        <p (click)="tools.openedPanel = 'specific'">
          Specific Shapes
        </p>
      </div>
    </div>

    <div class="dropdown">
      <span class="dropdown-label">History</span>
      <div class="dropdown-content">
        <p (click)="history.back()">Back</p>
        <p (click)="history.clear()">Clear History</p>
      </div>
    </div>

    <div class="dropdown">
      <span class="dropdown-label">Extras</span>
      <div class="dropdown-content">
        <p (click)="pavement.tile(8)">Pave</p>
      </div>
    </div>

    <div class="dropdown">
      <span class="dropdown-label">Draw Figures</span>
      <div class="dropdown-content">
        <p (click)="shapes.drawCube(80)">Square</p>
      </div>
    </div>

  </div>
</div>
