.box {
  border: 1px solid #aaa;
  border-radius: 5px;
  position: fixed;
  top: 40px;
  left: 40px;
  background: white;
  width: 70px;
  padding: 6px;
}

.nearest {
  position: absolute;
  color: #2e7d32;
}
