.box {
  position: fixed;
  bottom: 0;
  left: 50%;
  background: #333;
  width: 90px;
  padding: 6px;
  transform: translateX(-50%);
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 6px 6px 0 0;
}

.box-nearest {
  border-radius: 6px;
  background: #333;
  width: 60px;
  padding: 6px;
  position: absolute;
  font-size: 14px;
  color: white;
}
