<form [formGroup]="newEventForm" (ngSubmit)="submit(newEventForm)">
  <div class="toolbar__group">
    <div formGroupName="circleCenter">
      <div class="toolbar__label">Circle center</div>
      <mat-form-field>
        <input matInput type="number" placeholder="x" formControlName="x" name="cpx">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="y" formControlName="y" name="cpy">
      </mat-form-field>
    </div>

    <div>
      <div class="toolbar__label">Circle radius:</div>
      <mat-form-field>
        <input matInput type="number" placeholder="Circle Radius" formControlName="radius" name="radius">
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button [disabled]="!newEventForm.valid">Add Circle</button>
</form>
