.history {
  position: fixed;
  right: 0;
  top: 0;
  background: #333;
  border: 1px solid #444;
  width: 240px;
  height: 100%;
  color: white;
  overflow-y: auto;
  z-index: 1;
}

.history__header {
  padding: 0 20px;
  display: flex;
  overflow-x: hidden;
  justify-content: space-between;
  align-items: center;
}

.history__clear {
  cursor: pointer;
}
.history__clear:hover {
  cursor: #2e7d32;
}
