<section class="toolbar">

  <header class="toolbar__header">
    <md-select placeholder="Line type" [(ngModel)]="lineType">
      <md-option [value]="lineTypes.Line">Default line</md-option>
      <md-option [value]="lineTypes.QuadraticCurve">QuadraticCurve</md-option>
      <md-option [value]="lineTypes.Circle">Circle</md-option>
    </md-select>

    <drawer-cursor-position></drawer-cursor-position>
  </header>

  <drawer-new-line (newEvent)="add($event, lineType)" *ngIf="lineType === lineTypes.Line"></drawer-new-line>
  <drawer-new-curve (newEvent)="add($event, lineType)" *ngIf="lineType === lineTypes.QuadraticCurve"></drawer-new-curve>
  <drawer-new-circle (newEvent)="add($event, lineType)" *ngIf="lineType === lineTypes.Circle"></drawer-new-circle>


</section>
