<section class="toolbar">

  <header class="toolbar__header">
    <md-select placeholder="Line type" [(ngModel)]="lineType">
      <md-option [value]="lineTypes.Line">Default line</md-option>
      <md-option [value]="lineTypes.QuadraticCurve">QuadraticCurve</md-option>
      <md-option [value]="lineTypes.Circle">Circle</md-option>
    </md-select>

    <app-cursor-position></app-cursor-position>
  </header>

  <app-new-line (newEvent)="add($event, lineType)" *ngIf="lineType === lineTypes.Line"></app-new-line>
  <app-new-curve (newEvent)="add($event, lineType)" *ngIf="lineType === lineTypes.QuadraticCurve"></app-new-curve>
  <app-new-circle (newEvent)="add($event, lineType)" *ngIf="lineType === lineTypes.Circle"></app-new-circle>


</section>
