<drawer-transformations *ngIf="tools.openedPanel === 'transformations'"></drawer-transformations>

<drawer-specific *ngIf="tools.openedPanel === 'specific'"></drawer-specific>

<div class="control"
     [class.active]="activeControl === p[0]"
     (click)="activateControl(p[0])"
     *ngFor="let p of controls"
     [style.top.px]="toAbs(p[1]).y"
     [style.left.px]="toAbs(p[1]).x"></div>

<canvas #canvas id="canvas"
        (click)="selectPoint()"
        (mousemove)="updateCursorPosition($event)">
</canvas>

<drawer-point-position></drawer-point-position>
