<drawer-transformations *ngIf="tools.openedPanel === 'transformations'"></drawer-transformations>

<drawer-specific *ngIf="tools.openedPanel === 'specific'"></drawer-specific>

<div class="control"
     [class.active]="activeControl === p"
     (click)="activateControl(p)"
     *ngFor="let p of controls"
     [style.top.px]="toAbs(p).y"
     [style.left.px]="toAbs(p).x"></div>

<canvas #canvas id="canvas"
        (click)="selectPoint()"
        (mousemove)="updateCursorPosition($event)">
</canvas>
<drawer-selection [position]="selected"></drawer-selection>
<drawer-point-position></drawer-point-position>
<drawer-split-point></drawer-split-point>
