
.transformations-toggler {
  position: absolute;
  left: 120px;
  top: 0;
  width: 70px;
  text-align: center;
  background: #333;
  color: white;
  cursor: pointer;
  font-size: 12px;
  height: 20px;
  line-height: 1.8;
}

.specific-toggler {
  position: absolute;
  left: 220px;
  top: 0;
  width: 130px;
  text-align: center;
  background: #333;
  color: white;
  cursor: pointer;
  font-size: 12px;
  height: 20px;
  line-height: 1.8;
}

.anchor-toggler {
  position: absolute;
  left: 380px;
  top: 0;
  width: 100px;
  text-align: center;
  background: #333;
  color: white;
  cursor: pointer;
  font-size: 12px;
  height: 20px;
  line-height: 1.8;
}

.control {
  cursor: move;
  height: 6px;
  width: 6px;
  background: #444;
  margin-left: -3px;
  margin-top: -3px;
  border-radius: 50%;
  border: 1px solid green;
  position: absolute;
}

.control.active {
  background: white;
  border-color: red;
}
