<form [formGroup]="newEventForm" (ngSubmit)="drawLine(newEventForm)">
  <div class="toolbar__group">
    <div formGroupName="p1">
      <div class="toolbar__label">Start point:</div>
      <mat-form-field>
        <input matInput type="number" placeholder="x" formControlName="x" name="p1x">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="y" formControlName="y" name="p1y">
      </mat-form-field>
    </div>

    <div formGroupName="p2">
      <div class="toolbar__label">End point:</div>
      <mat-form-field>
        <input matInput type="number" placeholder="x" formControlName="x" name="p2x">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="y" formControlName="y" name="p2y">
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button [disabled]="!newEventForm.valid">Add Line</button>
</form>
